body {
  margin: 0;
  font-family: Arial;
  transition: 0.3s;
  background: #e3f2fd;
}

.weather-container {
  text-align: center;
  padding: 40px;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  background: #1976d2;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

.weather-card {
  width: 280px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.weather-card img {
  width: 100px;
}

.error {
  color: red;
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}

.dark .weather-card {
  background: #1e1e1e;
  color: white;
}